a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
.back{
  background-color: #FFE4E1;
  border: 0ch;
  position: relative;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  width: 150px;
  transition: 800ms ease all;
}
.back:hover{
  background-color: black;
  color: #FFE4E1;
  
}